*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a2438;
}

#entry-div{
    background-image: radial-gradient(circle, #dbd8e3 20%, #2a2438 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#entry-h1{
    font-size: 9rem;
    border-bottom: #352f44 10px solid; 
}

#pfp-div{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

#pfp-div button , img{
    height: 12vh;
    margin: 0.5vw;
    border-radius: 50%;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.596);
    cursor: pointer;
}

#pfp-div img:hover{
    margin-bottom: 2vw;
    transition: all 0.5s ease-in-out;
}

.selected{
    margin-bottom: 2vw;
}

#name-div{
    margin: 2vw;
}

#name-div label{
    font-size: 2rem;
    margin: 1vw;
    font-weight: 600;
    border-right: #2a2438 4px solid;
    padding-right: 4px;
}

#name-div input{
    background: none;
    border: none;
    margin: 1vw;
    font-size: 2rem;
}

#continue{
    font-size: 2.5rem;
    background-color: #dbd8e3cc;
    border: none;
    padding: 0.5vw;
    border-radius: 1vh;
    cursor: pointer;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: #352f44;
    display: flex;
    justify-content: start;
    align-items: center;
}

header img{
    height: 8vh;
    margin: 1vw;
}

header p{
    color: #dbd8e3;
    font-size: 2rem;
}

header h1{
    color: #f4f2f8;
    font-size: 4rem;
    margin-left: 5vw;
    margin-right: 65vw;
}

#projects{
    width: 20vw;
    height: 90vh;
    background-color: #2a2438;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#projects h1{
    color: #dbd8e3;
    margin-left: 1vw;
    border-bottom: #f4f2f8 3px solid;
    width: fit-content;
    font-size: 2.5rem;
}

#project-btn-container{
    display: flex;
    flex-direction: column;
}

#project-btn-container button{
    font-size: 2rem;
    background: none;
    color: #dbd8e3;
    border: none;
    margin: 1vw;
    cursor: pointer;
}

#add-project{
    font-size: 2rem;
    background: none;
    color: #00df25;
    border: none;
    margin: 1vw;
    cursor: pointer;
}

#project-btn-container button:hover{
    font-size: 2.5rem;
    color: white;
    transition: ease 0.2s;
}

#td-container{
    background-color: #534d64;
    margin-left: 20vw;
    width: 80vw;
    height: 90vh;
    position: absolute;
}

#td-container h1{
    color: #dbd8e3;
    font-size: 4rem;
    margin: 1vw;
    border-bottom: #2a2438 5px solid;
    width: fit-content;
}